.customerInfoContainer{
    display: flex;
    flex-direction: row;
    margin: 16px;
    border-bottom: 1px solid black
}

.customerName{
    display: flex;
    flex-basis: 40%
}

.customerInfo{
    display: flex;
    flex-direction: column;
    flex-basis: 60%
}

.item{
    display: flex;
    flex-direction: row;;
}

.selectedItemName{


}

.selectedItemQuantity{

}