@import "~components/UIElements/Scss/colors";

.container{
    display: flex;
    flex: 1;
    flex-shrink: 0;
    justify-content: flex-start;
    flex-direction: column;
}

.label{
    font-family: "AvenirNextLTW01-DemiCn";
    font-size: 1.6rem;
    color:black;
    letter-spacing: 0.02rem;
}

.inputField{
    width:100%;
    border: none;
    border-bottom: 1px solid black;
    resize: none;
    outline: none;
    padding-top: 8px;
    padding-bottom: 14px;
}

.error{
    display: flex;
    flex-grow: 0;
    color: red;
    font-size: 1.3rem;
}

